In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# CARGA DE DATOS

In [2]:
df_train = pd.read_csv('z_train.csv')
df_test = pd.read_csv('z_test.csv')

In [3]:
df_train_copy = df_train.copy()

In [4]:
df_test_copy = df_test.copy()

In [5]:
(df_test_copy.isna().sum() / df_test_copy.shape[0])*100

enrollee_id                0.000000
city                       0.000000
city_development_index     0.000000
gender                    23.669102
relevent_experience        0.000000
enrolled_university        2.192067
education_level            2.374739
major_discipline          15.031315
experience                 0.391441
company_size              31.419624
company_type              32.593946
last_new_job               2.192067
training_hours             0.000000
dtype: float64

In [6]:
(df_train_copy.isna().sum() / df_train_copy.shape[0])*100

enrollee_id                0.000000
city                       0.000000
city_development_index     0.000000
gender                    23.496020
relevent_experience        0.000000
enrolled_university        1.970508
education_level            2.407673
major_discipline          14.596111
experience                 0.326243
company_size              30.888686
company_type              31.913089
last_new_job               2.211927
training_hours             0.000000
target                     0.000000
dtype: float64

# ELIMINANOS LAS COLUMNAS QUE NO USAREMOS

In [7]:
df_train_copy.drop(['enrollee_id', 'city', 'enrolled_university','major_discipline','gender'  ], axis=1 , inplace = True) #, 'company_type'

In [8]:
df_test_copy.drop(['enrollee_id', 'city', 'enrolled_university','major_discipline','gender'  ], axis=1 , inplace = True)

In [9]:
df_train_copy.shape

(15326, 9)

In [10]:
df_test_copy.shape

(3832, 8)

In [11]:
#df_train_copy.dropna(inplace=True)

In [12]:
#df_train_copy.shape

# COMENZAMOS A LIMPIAR LAS COLUMNAS Y CONVERTIR DE STRING A NUM

# EMPEZAMOS CON LA COLUMNA EXPERIENCIA, TANTO DATA TRAIN COMO TEST

In [13]:
def cambiar_mayor(num):
    num= str(num)
    #print(type(num))
    if '>' in num:
        num = num.replace('>','')
        #num = float(num)
        return num
    
    if '<' in num:
        num = num.replace('<1','0')
        #num = float(num)
        return num
    
    if 'nan' in num:
        num = num.replace('nan','')
        #num = float(num)
        return num
    
    else:
        #num = float(num)
        return num

In [14]:
df_train_copy.experience = df_train_copy.experience.apply(cambiar_mayor)

In [15]:
df_train_copy['experience'] = pd.to_numeric(df_train_copy.experience)

In [16]:
#DATA TEST

In [17]:
df_test_copy.experience = df_test_copy.experience.apply(cambiar_mayor)

In [18]:
df_test_copy['experience'] = pd.to_numeric(df_test_copy.experience)

# AHORA CAMBIAMOS LA COLUMNA LAST NEW JOB

In [19]:
def cambiar_num(num):
    num= str(num)
    #print(type(num))
    if '>4' in num:
        num = num.replace('>4','5')
        #num = float(num)
        return num
    
    if 'never' in num:
        num = num.replace('never','0')
        #num = float(num)
        return num
    
    if 'nan' in num:
        num = num.replace('nan','')
        #num = float(num)
        return num
    
    else:
        #num = float(num)
        return num

In [20]:
df_train_copy.last_new_job = df_train_copy.last_new_job.apply(cambiar_num)

In [21]:
df_train_copy['last_new_job'] = pd.to_numeric(df_train_copy.last_new_job)

In [22]:
# DATA TEST

In [23]:
df_test_copy.last_new_job = df_test_copy.last_new_job.apply(cambiar_num)

In [24]:
df_test_copy['last_new_job'] = pd.to_numeric(df_test_copy.last_new_job)

In [25]:
df_train_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15326 entries, 0 to 15325
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city_development_index  15326 non-null  float64
 1   relevent_experience     15326 non-null  object
 2   education_level         14957 non-null  object
 3   experience              15276 non-null  float64
 4   company_size            10592 non-null  object
 5   company_type            10435 non-null  object
 6   last_new_job            14987 non-null  float64
 7   training_hours          15326 non-null  int64
 8   target                  15326 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.1+ MB

In [26]:
# CAMBIAMOS COLUMNA TAMAÑO DE EMPRESA

df_train_copy.company_size.value_counts()

In [27]:
def cambiar_cantidad(num):
    num= str(num)
    #print(type(num))
    if '50-99' in num:
        num = num.replace('50-99','chica')
        #num = float(num)
        return num
    
    if '100-500' in num:
        num = num.replace('100-500','mediana')
        #num = float(num)
        return num
    
    if '10000+' in num:
        num = num.replace('10000+','muy_grande')
        #num = float(num)
        return num
    
    if '10/49' in num:
        num = num.replace('10/49','chica')
        #num = float(num)
        return num
                          
    if '1000-4999' in num:
        num = num.replace('1000-4999','grande')
        #num = float(num)
        return num
    
    if '<10' in num:
        num = num.replace('<10','chica')
        #num = float(num)
        return num
    
    if '500-999' in num:
        num = num.replace('500-999','grande')
        #num = float(num)
        return num
    
    if '5000-9999' in num:
        num = num.replace('5000-9999','muy_grande')
        #num = float(num)
        return num
    
    if 'nan' in num:
        num = num.replace('nan', 'Missing')
        #num = float(num)
        return num
    
    else:
        #num = float(num)
        return num

In [28]:
df_train_copy['company_size'] = df_train_copy.company_size.apply(cambiar_cantidad)

In [29]:
df_train_copy.company_size.value_counts()

Missing       4734
chica         4664
muy_grande    2096
mediana       2059
grande        1773
Name: company_size, dtype: int64

In [30]:
df_train_copy.company_size.isnull().sum()

0

In [31]:
str()

''

In [32]:
# DATA TEST

In [33]:
df_test_copy['company_size'] = df_test_copy.company_size.apply(cambiar_cantidad)

# VERIFICAMOS QUE TODOS LOS DATOS ESTEN UNIFORMES Y CAMBIADOS TANTO PARA TEST COMO TRAIN

In [34]:
df_train_copy.head(1)

,city_development_index,relevent_experience,education_level,experience,company_size,company_type,last_new_job,training_hours,target
0,0.92,Has relevent experience,Graduate,20.0,Missing,NaN,1.0,36,1.0

In [35]:
df_test_copy.head(1)

,city_development_index,relevent_experience,education_level,experience,company_size,company_type,last_new_job,training_hours
0,0.92,No relevent experience,Graduate,5.0,Missing,NaN,1.0,78

In [36]:
df_test_copy.shape

(3832, 8)

In [37]:
df_train_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15326 entries, 0 to 15325
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city_development_index  15326 non-null  float64
 1   relevent_experience     15326 non-null  object
 2   education_level         14957 non-null  object
 3   experience              15276 non-null  float64
 4   company_size            15326 non-null  object
 5   company_type            10435 non-null  object
 6   last_new_job            14987 non-null  float64
 7   training_hours          15326 non-null  int64
 8   target                  15326 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.1+ MB

In [38]:
df_test_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3832 entries, 0 to 3831
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city_development_index  3832 non-null   float64
 1   relevent_experience     3832 non-null   object
 2   education_level         3741 non-null   object
 3   experience              3817 non-null   float64
 4   company_size            3832 non-null   object
 5   company_type            2583 non-null   object
 6   last_new_job            3748 non-null   float64
 7   training_hours          3832 non-null   int64
dtypes: float64(3), int64(1), object(4)
memory usage: 239.6+ KB

# CARGAMOS LAS LIBRERIAS PARA TRABAJAR

In [39]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import RobustScaler, OrdinalEncoder
from sklearn.model_selection import train_test_split
from feature_engine import imputation as imp
from feature_engine import encoding as enc
from feature_engine.wrappers import SklearnTransformerWrapper
from feature_engine.encoding import OneHotEncoder
from feature_engine import imputation as mdi


from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

from feature_engine.wrappers import SklearnTransformerWrapper


from sklearn.linear_model import LogisticRegression
from sklearn import metrics

import sklearn.metrics

In [40]:
'enrollee_id', 'city' , 'enrollee_id', 'city', 'enrolled_university','major_discipline','gender'

('enrollee_id',
 'city',
 'enrollee_id',
 'city',
 'enrolled_university',
 'major_discipline',
 'gender')

# CREAMOS NUESTRA MUESTRAS PARA EL ENTRENAMIENTO

In [41]:
X_train, X_test, y_train, y_test = train_test_split(df_train_copy.drop(columns = ['target']), df_train_copy.target, test_size = 0.2, random_state = 2102)

# CREAMOS NUESTRA PIPELINE Y ENTRENAMOS CON X_TRAIN Y Y_TRAIN

In [42]:
pipeline_competencia = Pipeline([('mean_imputation', mdi.MeanMedianImputer(imputation_method = 'mean',
                                                                             variables = ['experience', 'last_new_job','city_development_index','training_hours'])),
                                   ('mode_imputation', mdi.CategoricalImputer(imputation_method = 'missing',
                                    variables = [ 'education_level','relevent_experience','company_size', 'company_type'])),
                                   ('escalar', SklearnTransformerWrapper(StandardScaler(), variables=['experience', 'last_new_job','training_hours'])),
                                   ('one_hot', enc.OneHotEncoder(variables = [ 'education_level','relevent_experience','company_size', 'company_type'])),
                                   #('modelo', LogisticRegression())
                                   ], verbose = True)
pipeline_competencia.fit(X_train, y_train)

[Pipeline] ... (step 1 of 4) Processing mean_imputation, total=   0.0s
[Pipeline] ... (step 2 of 4) Processing mode_imputation, total=   0.0s
[Pipeline] ........... (step 3 of 4) Processing escalar, total=   0.0s
[Pipeline] ........... (step 4 of 4) Processing one_hot, total=   0.0s

Pipeline(steps=[('mean_imputation',
                 MeanMedianImputer(imputation_method='mean',
                                   variables=['experience', 'last_new_job',
                                              'city_development_index',
                                              'training_hours'])),
                ('mode_imputation',
                 CategoricalImputer(variables=['education_level',
                                               'relevent_experience',
                                               'company_size',
                                               'company_type'])),
                ('escalar',
                 SklearnTransformerWrapper(transformer=StandardScaler(),
                                           variables=['experience',
                                                      'last_new_job',
                                                      'training_hours'])),
                ('one_hot',
                 OneHotEncoder(variables=['education_level',
                                          'relevent_experience', 'company_size',
                                          'company_type']))],
         verbose=True)

In [43]:
# USAMOS PARA TRANFORMAR LA TABLA DE DATOS DE TRAIN Y TEST

In [44]:
data = pipeline_competencia.transform(X_train)

In [45]:
data.head(1)

,city_development_index,experience,last_new_job,training_hours,education_level_Graduate,education_level_Masters,education_level_Phd,education_level_High School,education_level_Missing,education_level_Primary School,...,company_size_Missing,company_size_grande,company_size_muy_grande,company_type_Pvt Ltd,company_type_Missing,company_type_Public Sector,company_type_Early Stage Startup,company_type_NGO,company_type_Funded Startup,company_type_Other
8102,0.913,-0.458591,-0.607308,-0.785127,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [46]:
data_test_final = pipeline_competencia.transform(df_test_copy)

In [47]:
data_test_final.head(1)

,city_development_index,experience,last_new_job,training_hours,education_level_Graduate,education_level_Masters,education_level_Phd,education_level_High School,education_level_Missing,education_level_Primary School,...,company_size_Missing,company_size_grande,company_size_muy_grande,company_type_Pvt Ltd,company_type_Missing,company_type_Public Sector,company_type_Early Stage Startup,company_type_NGO,company_type_Funded Startup,company_type_Other
0,0.92,-0.766097,-0.607308,0.20978,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [48]:
data.columns

Index(['city_development_index', 'experience', 'last_new_job',
       'training_hours', 'education_level_Graduate', 'education_level_Masters',
       'education_level_Phd', 'education_level_High School',
       'education_level_Missing', 'education_level_Primary School',
       'relevent_experience_Has relevent experience',
       'relevent_experience_No relevent experience', 'company_size_mediana',
       'company_size_chica', 'company_size_Missing', 'company_size_grande',
       'company_size_muy_grande', 'company_type_Pvt Ltd',
       'company_type_Missing', 'company_type_Public Sector',
       'company_type_Early Stage Startup', 'company_type_NGO',
       'company_type_Funded Startup', 'company_type_Other'],
      dtype='object')

# CARGAMOS DATOS PARA UNA ANALISI DE ARBOL

In [115]:
from sklearn.tree import DecisionTreeClassifier
import graphviz
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [627]:
!pip install graphviz

Requirement already satisfied: graphviz in c:\users\sistemas\anaconda3\lib\site-packages (0.20.1)

In [88]:
dec_tree = DecisionTreeClassifier()
params = {'splitter':['random', 'best'], 'max_depth' : [8, 9, 10, None], 'random_state':[2102]}
cvtree = GridSearchCV(dec_tree, params).fit(data, y_train)

In [89]:
cvtree.best_estimator_

DecisionTreeClassifier(max_depth=8, random_state=2102)

In [227]:
cvtree.best_estimator_

DecisionTreeClassifier(max_depth=8, random_state=2102)

In [189]:
cvtree.best_estimator_

DecisionTreeClassifier(max_depth=6, random_state=2102)

In [49]:
tree_classifier_full = DecisionTreeClassifier(max_depth=8 ,random_state=2102 ).fit(data, y_train)

In [50]:
tree_classifier_full.feature_importances_

array([5.13182270e-01, 6.18747164e-02, 3.39332972e-02, 6.38312197e-02,
       7.68664836e-02, 1.32354148e-02, 1.43272208e-03, 7.35897674e-04,
       8.52610272e-04, 4.31607700e-04, 0.00000000e+00, 6.33926226e-03,
       3.46056930e-03, 4.98974366e-03, 1.86139100e-01, 2.39433227e-03,
       1.89946163e-03, 1.50757425e-02, 4.58684433e-03, 5.55737886e-03,
       2.15225388e-03, 0.00000000e+00, 0.00000000e+00, 1.02907183e-03])

In [51]:
tree_classifier_full.feature_importances_

array([5.13182270e-01, 6.18747164e-02, 3.39332972e-02, 6.38312197e-02,
       7.68664836e-02, 1.32354148e-02, 1.43272208e-03, 7.35897674e-04,
       8.52610272e-04, 4.31607700e-04, 0.00000000e+00, 6.33926226e-03,
       3.46056930e-03, 4.98974366e-03, 1.86139100e-01, 2.39433227e-03,
       1.89946163e-03, 1.50757425e-02, 4.58684433e-03, 5.55737886e-03,
       2.15225388e-03, 0.00000000e+00, 0.00000000e+00, 1.02907183e-03])

In [52]:
tree_classifier_full.feature_names_in_

array(['city_development_index', 'experience', 'last_new_job',
       'training_hours', 'education_level_Graduate',
       'education_level_Masters', 'education_level_Phd',
       'education_level_High School', 'education_level_Missing',
       'education_level_Primary School',
       'relevent_experience_Has relevent experience',
       'relevent_experience_No relevent experience',
       'company_size_mediana', 'company_size_chica',
       'company_size_Missing', 'company_size_grande',
       'company_size_muy_grande', 'company_type_Pvt Ltd',
       'company_type_Missing', 'company_type_Public Sector',
       'company_type_Early Stage Startup', 'company_type_NGO',
       'company_type_Funded Startup', 'company_type_Other'], dtype=object)

In [53]:
datos_impor = pd.DataFrame([tree_classifier_full.feature_importances_], columns = tree_classifier_full.feature_names_in_)

# DESPUES DE VARIAS PRUEBAS LA MEJOR PREDICCION SE IMPRIME CON LOS VALORES DE PESO

In [54]:
datos_impor.T.head(31)

                                                    0
city_development_index                       0.513182
experience                                   0.061875
last_new_job                                 0.033933
training_hours                               0.063831
education_level_Graduate                     0.076866
education_level_Masters                      0.013235
education_level_Phd                          0.001433
education_level_High School                  0.000736
education_level_Missing                      0.000853
education_level_Primary School               0.000432
relevent_experience_Has relevent experience  0.000000
relevent_experience_No relevent experience   0.006339
company_size_mediana                         0.003461
company_size_chica                           0.004990
company_size_Missing                         0.186139
company_size_grande                          0.002394
company_size_muy_grande                      0.001899
company_type_Pvt Ltd                         0.015076
company_type_Missing                         0.004587
company_type_Public Sector                   0.005557
company_type_Early Stage Startup             0.002152
company_type_NGO                             0.000000
company_type_Funded Startup                  0.000000
company_type_Other                           0.001029

In [55]:
predictions = tree_classifier_full.predict(data)

In [640]:
metrics.accuracy_score(y_train, predictions) # tree_classifier_full = DecisionTreeClassifier(max_depth=8 ,random_state=2102 ).fit(data, y_train)    /// CON TIPO DE EMPRESA MEDIAN Y MISSIN

0.8204730831973899

In [196]:
metrics.accuracy_score(y_train, predictions) # PREDICCION CON (max_depth=6 ,random_state=2102 ) GANADORA MEJOR PREDICCION

0.8019575856443719

In [192]:
metrics.accuracy_score(y_train, predictions) # tree_classifier_full = DecisionTreeClassifier(max_depth=8 ,random_state=2102 ).fit(data, y_train)    /// CON TIPO DE EMPRESA MEAN Y MISSIN

0.8204730831973899

In [56]:
metrics.accuracy_score(y_train, predictions) #

0.8182707993474715

In [56]:
data_test = pipeline_competencia.transform(X_test)

In [60]:
predictions_test = tree_classifier_full.predict(data_test)
predictions_test

array([0., 0., 0., ..., 0., 0., 0.])

In [90]:
metrics.accuracy_score(y_test, predictions_test) # # tree_classifier_full = DecisionTreeClassifier(max_depth=8 ,random_state=2102 ).fit(data, y_train)    /// CON TIPO DE EMPRESA MEDIAN Y MISSIN

0.7840834964122635

In [199]:
metrics.accuracy_score(y_test, predictions_test) # PREDICCION CON (max_depth=6 ,random_state=2102 ) GANADORA MEJOR PREDICCION

0.7840834964122635

In [643]:
metrics.accuracy_score(y_test, predictions_test) # tree_classifier_full = DecisionTreeClassifier(max_depth=8 ,random_state=2102 ).fit(data, y_train)    /// CON TIPO DE EMPRESA MEAN Y MISSIN

0.7850619699934769

In [61]:
metrics.accuracy_score(y_test, predictions_test) #

0.7821265492498369

# CON LA NUEVA PREDICCION SE REALIZA LA BASE DE DATOS PARA CAGAR

In [210]:
predictions_test_proba = tree_classifier_full.predict_proba(data_test_final)
predictions_test_proba

array([[0.38992042, 0.61007958],
       [0.90237467, 0.09762533],
       [0.49155405, 0.50844595],
       ...,
       [0.86437247, 0.13562753],
       [0.85496183, 0.14503817],
       [0.92008639, 0.07991361]])

In [211]:
list_test = []
for x in predictions_test_proba:
    #print(x[1])
    list_test.append(x[1])

In [212]:
pd.DataFrame(list_test)

             0
0     0.610080
1     0.097625
2     0.508446
3     0.061907
4     0.079914
...        ...
3827  0.508446
3828  0.061907
3829  0.135628
3830  0.145038
3831  0.079914

[3832 rows x 1 columns]

In [134]:
df_respuesta = df_test.copy()

In [135]:
df_respuesta.drop([ 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours'], axis=1 , inplace = True)

In [136]:
df_respuesta['target'] = pd.DataFrame(list_test)

In [216]:
df_respuesta

      enrollee_id    target
0           23603  0.610080
1           22499  0.097625
2           10465  0.508446
3            8293  0.061907
4            4246  0.079914
...           ...       ...
3827         8880  0.508446
3828         7886  0.061907
3829        12279  0.135628
3830         5326  0.145038
3831         4017  0.079914

[3832 rows x 2 columns]

In [217]:
df_respuesta.to_csv('p5_size.csv', index=False)

# AHORA CON BOSQUES

In [114]:
from sklearn.ensemble import RandomForestClassifier

In [63]:
#forest_simple = RandomForestClassifier(n_estimators = 5).fit(data, y_train)

In [64]:
forest = RandomForestClassifier()
params = {'max_depth': [13, 14,15, 16], 'n_estimators':[10, 50, 100, 500]}
grid_forest = GridSearchCV(forest, params).fit(data, y_train)

In [65]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=13)

In [94]:
forest = RandomForestClassifier()
params = {'max_depth': [13, 14,15, 16], 'n_estimators':[5, 10, 20, 30]}
grid_forest = GridSearchCV(forest, params).fit(data, y_train)

In [95]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=14, n_estimators=30)

In [96]:
forest = RandomForestClassifier()
params = {'max_depth': [13, 14,15, 16], 'n_estimators':[30, 50, 70, 90]}
grid_forest = GridSearchCV(forest, params).fit(data, y_train)

In [97]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=16, n_estimators=70)

In [98]:
forest = RandomForestClassifier()
params = {'max_depth': [13, 14,15, 16], 'n_estimators':[50, 100, 200, 300]}
grid_forest = GridSearchCV(forest, params).fit(data, y_train)

In [99]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=14, n_estimators=300)

In [100]:
forest = RandomForestClassifier()
params = {'max_depth': [14, 16,17, 18], 'n_estimators':[30, 32, 34, 36]}
grid_forest = GridSearchCV(forest, params).fit(data, y_train)

In [101]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=14, n_estimators=36)

In [233]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=16, n_estimators=32)

In [102]:
forest = RandomForestClassifier()
params = {'max_depth': [14, 16,17, 18], 'n_estimators':[32, 50, 500]}
grid_forest = GridSearchCV(forest, params).fit(data, y_train)

In [103]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=16, n_estimators=500)

In [102]:
forest = RandomForestClassifier()
params = {'max_depth': [13, 14], 'n_estimators':[325, 350, 375]}
grid_forest = GridSearchCV(forest, params).fit(data, y_train)

In [103]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=13, n_estimators=375)

In [309]:
forest = RandomForestClassifier()
params = {'max_depth': [ 13, 14], 'n_estimators':[350, 360, 370]}
grid_forest = GridSearchCV(forest, params).fit(data, y_train)

In [310]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=13, n_estimators=370)

In [155]:
forest = RandomForestClassifier()
params = {'max_depth': [10,11,12], 'n_estimators':[300, 330, 350]}
grid_forest = GridSearchCV(forest, params).fit(data, y_train)

In [152]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=11, n_estimators=350)

In [150]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=11, n_estimators=400)

In [154]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=12, n_estimators=330)

In [156]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=10, n_estimators=300)

In [50]:
best_forest = RandomForestClassifier(max_depth=13, n_estimators=400).fit(data, y_train)

In [52]:
predictions_forest = best_forest.predict(data)

In [108]:
metrics.accuracy_score(y_train, predictions_forest) #### NUEVO best_forest = RandomForestClassifier(max_depth=14, n_estimators=300).fit(data, y_train) /// CON TIPO DE EMPRESA MEDIAN Y MISSIN

0.9045676998368679

In [179]:
metrics.accuracy_score(y_train, predictions_forest) # best_forest = RandomForestClassifier(max_depth=14, n_estimators=450).fit(data, y_train) XXXXX /// CON TIPO DE EMPRESA MEDIAN Y MISSIN

0.9053833605220228

In [646]:
metrics.accuracy_score(y_train, predictions_forest)

0.8912724306688418

In [260]:
metrics.accuracy_score(y_train, predictions_forest) # best_forest = RandomForestClassifier(max_depth=14, n_estimators=300).fit(data, y_train)

0.899836867862969

In [301]:
metrics.accuracy_score(y_train, predictions_forest) # best_forest = RandomForestClassifier(max_depth=14, n_estimators=50).fit(data, y_train) lksajdklajdlasjda

0.90163132137031

In [206]:
metrics.accuracy_score(y_train, predictions_forest) # best_forest = RandomForestClassifier(max_depth=14, n_estimators=300).fit(data, y_train)  /// CON TIPO DE EMPRESA MEAN Y MISSIN 350

0.9050570962479608

In [144]:
metrics.accuracy_score(y_train, predictions_forest) #

0.884257748776509

In [53]:
metrics.accuracy_score(y_train, predictions_forest) # A VENCER

0.8827079934747145

In [57]:
predictions_test = best_forest.predict(data_test)

In [58]:
metrics.accuracy_score(y_test, predictions_test) # NUEVO best_forest = RandomForestClassifier(max_depth=14, n_estimators=300).fit(data, y_train) /// CON TIPO DE EMPRESA MEDIAN Y MISSIN

0.7847358121330724

In [173]:
metrics.accuracy_score(y_test, predictions_test) # best_forest = RandomForestClassifier(max_depth=14, n_estimators=400).fit(data, y_train)

0.7902804957599479

In [262]:
metrics.accuracy_score(y_test, predictions_test) # best_forest = RandomForestClassifier(max_depth=14, n_estimators=50).fit(data, y_train)

0.7876712328767124

In [303]:
metrics.accuracy_score(y_test, predictions_test) # best_forest = RandomForestClassifier(max_depth=14, n_estimators=50).fit(data, y_train) klhdslakdñadjañsd

0.7834311806914547

In [209]:
metrics.accuracy_score(y_test, predictions_test) # # best_forest = RandomForestClassifier(max_depth=14, n_estimators=300).fit(data, y_train)  /// CON TIPO DE EMPRESA MEAN Y MISSIN 350

0.7896281800391389

In [146]:
metrics.accuracy_score(y_test, predictions_test) #

0.7857142857142857

In [60]:
metrics.accuracy_score(y_test, predictions_test) # VALOR A VENCER

0.7847358121330724

In [218]:
predictions_forest = best_forest.predict(data)
predictions_forest

array([0., 1., 1., ..., 1., 0., 0.])

In [254]:
metrics.accuracy_score(y_train, predictions_forest)

0.8258564437194127

In [168]:
predictions_test = best_forest.predict_proba(data_test_final)
predictions_test

array([[0.39480878, 0.60519122],
       [0.90979195, 0.09020805],
       [0.39109782, 0.60890218],
       ...,
       [0.90051746, 0.09948254],
       [0.72572361, 0.27427639],
       [0.95062521, 0.04937479]])

In [169]:
list_test = []
for x in predictions_test:
    #print(x[1])
    list_test.append(x[1])

In [170]:
df_respuesta['target'] = pd.DataFrame(list_test)

In [171]:
df_respuesta

      enrollee_id    target
0           23603  0.605191
1           22499  0.090208
2           10465  0.608902
3            8293  0.065641
4            4246  0.075999
...           ...       ...
3827         8880  0.563243
3828         7886  0.090883
3829        12279  0.099483
3830         5326  0.274276
3831         4017  0.049375

[3832 rows x 2 columns]

In [172]:
df_respuesta.to_csv('p9_12_350.csv', index=False)

In [66]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

In [67]:
oversampler = RandomOverSampler(random_state=2102)
undersampler = RandomUnderSampler(random_state=2102)

In [68]:
X_train_over, y_train_over = oversampler.fit_resample(X_train, y_train)

In [64]:
pipeline_competencia.fit(X_train_over, y_train_over)

[Pipeline] ... (step 1 of 4) Processing mean_imputation, total=   0.0s
[Pipeline] ... (step 2 of 4) Processing mode_imputation, total=   0.0s
[Pipeline] ........... (step 3 of 4) Processing escalar, total=   0.0s
[Pipeline] ........... (step 4 of 4) Processing one_hot, total=   0.0s

Pipeline(steps=[('mean_imputation',
                 MeanMedianImputer(imputation_method='mean',
                                   variables=['experience', 'last_new_job',
                                              'city_development_index',
                                              'training_hours'])),
                ('mode_imputation',
                 CategoricalImputer(variables=['education_level',
                                               'relevent_experience',
                                               'company_size',
                                               'company_type'])),
                ('escalar',
                 SklearnTransformerWrapper(transformer=StandardScaler(),
                                           variables=['experience',
                                                      'last_new_job',
                                                      'training_hours'])),
                ('one_hot',
                 OneHotEncoder(variables=['education_level',
                                          'relevent_experience', 'company_size',
                                          'company_type']))],
         verbose=True)

In [69]:
data_over = pipeline_competencia.transform(X_train_over)
data_test_over = pipeline_competencia.transform(X_test)

In [116]:
forest = RandomForestClassifier()
params = {'max_depth': [23, 22,24, 25], 'n_estimators':[100, 200, 300]}
grid_forest = GridSearchCV(forest, params).fit(data_over, y_train_over)

In [117]:
grid_forest.best_estimator_

RandomForestClassifier(max_depth=25)

In [118]:
best_forest = RandomForestClassifier(max_depth=25, n_estimators=200).fit(data_over, y_train_over)

In [119]:
predictions_over = best_forest.predict(data_over)

In [72]:
metrics.accuracy_score(y_test, predictions_test) # best_forest = RandomForestClassifier(max_depth=18, n_estimators=400).fit(data_over, y_train_over)

0.7847358121330724

In [88]:
metrics.accuracy_score(y_test, predictions_test)  # NO SUPERA EL ARBOL ORIGINAL, SIN OVER max_depth=18, n_estimators=400

0.7690802348336595

In [120]:
metrics.accuracy_score(y_test, predictions_test) # RandomForestClassifier(max_depth=25, n_estimators=200).fit(data_over, y_train_over)

0.758969341161122

In [121]:
predictions_test = best_forest.predict(data_test_over)

In [74]:
metrics.accuracy_score(y_test, predictions_test) # best_forest = RandomForestClassifier(max_depth=18, n_estimators=400).fit(data_over, y_train_over)

0.7821265492498369

In [90]:
metrics.accuracy_score(y_test, predictions_test) # NO SUPERA EL ARBOL ORIGINAL, SIN OVERmax_depth=18, n_estimators=400

0.7834311806914547

In [122]:
metrics.accuracy_score(y_test, predictions_test) # RandomForestClassifier(max_depth=25, n_estimators=200).fit(data_over, y_train_over)

0.771689497716895

In [105]:
X_train_under, y_train_under = undersampler.fit_resample(X_train, y_train)

In [106]:
pipeline_competencia.fit(X_train_under, y_train_under)

[Pipeline] ... (step 1 of 4) Processing mean_imputation, total=   0.0s
[Pipeline] ... (step 2 of 4) Processing mode_imputation, total=   0.0s
[Pipeline] ........... (step 3 of 4) Processing escalar, total=   0.0s
[Pipeline] ........... (step 4 of 4) Processing one_hot, total=   0.0s

Pipeline(steps=[('mean_imputation',
                 MeanMedianImputer(imputation_method='mean',
                                   variables=['experience', 'last_new_job',
                                              'city_development_index',
                                              'training_hours'])),
                ('mode_imputation',
                 CategoricalImputer(variables=['education_level',
                                               'relevent_experience',
                                               'company_size',
                                               'company_type'])),
                ('escalar',
                 SklearnTransformerWrapper(transformer=StandardScaler(),
                                           variables=['experience',
                                                      'last_new_job',
                                                      'training_hours'])),
                ('one_hot',
                 OneHotEncoder(variables=['education_level',
                                          'relevent_experience', 'company_size',
                                          'company_type']))],
         verbose=True)

In [107]:
data_under = pipeline_competencia.transform(X_train_under)
data_test_under = pipeline_competencia.transform(X_test)

In [108]:
best_forest = RandomForestClassifier(max_depth=18, n_estimators=400).fit(data_under, y_train_under)

In [109]:
predictions_under = best_forest.predict(data_under)

In [110]:
metrics.accuracy_score(y_train_under, predictions_under)

0.957502451781628

In [111]:
predictions_test = best_forest.predict(data_test_under)

In [112]:
metrics.accuracy_score(y_test, predictions_test)

0.758969341161122